body, div, header, footer, ul, ol, h1 {
    margin: 0;
    padding: 0;
}
ul, ol {list-style: none;}
a {text-decoration: none; color: inherit; font-size: inherit;}
html {
    box-sizing: border-box;
}
body {
    height: 100%;
    background: #f0f2f5;
    color: #333;
    font-size: 12px;
    font-family: 微软雅黑,Helvetica,Arial,PingFang SC,Noto Sans,Roboto,Microsoft Yahei,sans-serif;
    font-weight: inherit;
    box-sizing: border-box;

}

/*
    头部部分定义
 */
#header {
    margin-bottom: 10px;
    background: #fff;
    box-shadow: 0 1px 11px 3px rgba(42, 42, 42, .1);
    -webkit-box-shadow: 0 1px 11px 3px rgba(42, 42, 42, .1);
    border-top: 3px solid #2185d0;
}
.layout {
    display: flex;
    display: -webkit-flex;
}
#header>.nav {
    min-width: 1000px;
    height: 50px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}
.nav>.logo {
    flex-grow: 5;
    font-size: 24px;
    color: #3398ff;
    letter-spacing: 1.3rem;
}
.nav>.nav-bar {
    flex-grow: 0;
}
.nav>.nav-bar>li {
    margin: 0 8px;
}
.nav>.nav-bar>li>a {
    display: inline-block;
    font-size: 12px;
}
.nav>.nav-bar>li>a:hover {
    color: #887575;
}

/*
    内容部分区域
 */

.main {
    width: 1000px;
    margin: 0 auto;
}
.content {
    flex-wrap: wrap;
}
.list-main {
    flex-grow: 6;
    margin-right: 10px;
}
.content-box {
    padding: 15px 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 11px 3px rgba(42, 42, 42, .1);
    -webkit-box-shadow: 0 1px 11px 3px rgba(42, 42, 42, .1);
}
.content-item-title {
    font-size: 16px;
    padding: 10px 0;
    flex-grow: 1;
}
.content-item-rich {
    flex-grow: 0;
}
.content-item-other {
    padding: 10px 0;
}
.content-item-title:hover {
    color: #3398ff;
    cursor: pointer;
}
.content-item-main:hover {
    color: #646464;
}
.sib-main {
    width: 30%;
    flex-grow: 1;
}
/*
    底部区域
 */

#footer {

}
.footer-inner {
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}

/*
    默认属性
 */


